{% extends 'main/base.html' %}
{% block title %}تأكيد حذف المنتج{% endblock %}
{% block content %}
<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-12 col-md-7 col-lg-5">
            <div class="card shadow-sm">
                <div class="card-body text-center">
                    <h4 class="mb-3">تأكيد حذف المنتج</h4>
                    <p>هل أنت متأكد أنك تريد حذف المنتج <b>{{ product.name }}</b> من مركز <b>{{ mall.name }}</b>؟</p>
                    <form method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger px-4">نعم، حذف</button>
                        <a href="/malls/{{ mall.id }}/products/" class="btn btn-secondary ms-2">إلغاء</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %} 